<!-- app/views/dashboards/show.html.erb -->
<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img
        class="mx-auto h-12 w-auto"
        src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
        alt="Workflow"
      />
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Caminos de Encuentro
      </h2>
    </div>
    <div class="mt-8 space-y-6">
      <!-- Personal Information Button -->
      <div>
        <button
          type="button"
          onclick="window.location.href='<%= new_personal_info_path %>'"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <i class="fas fa-user"></i>
          </span>
          Complete Personal Information
        </button>
      </div>
      <!-- Address Information Button -->
      <div>
        <button
          type="button"
          onclick="window.location.href='<%= new_address_path %>'"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <i class="fas fa-map-marker-alt"></i>
          </span>
          Complete Address Information
        </button>
      </div>
      <!-- Search Profile Button -->
      <div>
        <button
          type="button"
          onclick="window.location.href='<%= new_search_profile_path %>'"
          class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        >
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <i class="fas fa-search"></i>
          </span>
          Complete Search Profile
        </button>
      </div>
    </div>
  </div>
</div>

